body {
    font-family: "Chelsea Market";
    margin: 0px;
    text-align: center;
}

#trachio-logo {
    width: 200px;
    height: 200px;
}

.nav-container {
    display: inline-block;
    margin: auto;
    
    width: 250px;
    height: 250px;
}