body {
    font-family: "Chelsea Market";
    margin: 0px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    color: white;

    margin: auto;
}

.nav-container img {
    width: 200px;
    height: 200px;
}