{% extends 'base.html' %}

{% block head %}

<title>Trachio</title>

{% endblock head %}
 
{% block body %}

<div id="trachio-logo" class="nav-container">
    <img src="/static/images/trachio_logo.png" alt="">
</div>

<div class="file-selector">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        
        <label>Upload a spectrogram:</label>
        <input type="file" name="image">
    
        <button type="submit">Submit</button>
    </form>
</div>



<div class="uploaded-image-wrapper">
    {% if img_filename %}
    <img src={{img_filename}} style="height:250px;" alt="">
    {% endif %}
</div>

Diagnosis: {{ diagnosis}}



{% endblock body %}